body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
  margin: 0;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

p {
  color: gray;
  font-size: 21px;
}

footer {
  text-align: right;
  color: gray;
  padding: 20px;
}